<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О себе - Лабораторная работа 1 - Персональный сайт</title>
    <link rel="stylesheet" href="..\base\style.css">
</head>
<body>
<div>
  <table class="nav">
    <tr>
      <td><a href="index.html">На главную</a></td>
      <td><a href="about.html">О себе</a></td>
      <td><a href="hobbies.html">Хобби</a></td>
      <td><a href="achievements.html">Достижения</a></td>
    </tr>
  </table>
</div>
<div>
    <table class="block_left">
        <tr>
            <td><img class="block_pic" src="..\resources\gfx\photo_2.png"></td>
            <td>
                <h2>Кто я?</h2>
                <p>
                    Меня зовут Матвей, мне 18 лет, и я <s>алко</s>трудоголик. Сам себя я считаю человеком добрым, но достаточно замкнутым. Иногда мне трудно наладить отношения с новыми людьми, но своих друзей я редко подвожу. Из любимых вещей у меня бирюзовый цвет, светодиодная подсветка и газировка "Байкал". Опуская шутки про "алко-", я выступаю за здоровый образ жизни и отказ от курения и употребления алкоголя.
                </p>
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="block_right">
        <tr>
            <td>
                <h2>Учёба</h2>
                <p>
                    Трудно поспорить с тем, что большая часть моей жизни прошла за обучением. Начальное и среднее образование я получил в Средней школе №27 г. Гродно - месте, которое больше всего повлияло на мою жизнь. В первый класс я пошёл в 5 лет - тогда меня решилась взять только одна из всех учителей начальной школы - Лариса Дмитриевна - и не прогадала, ведь через 11 лет я вышел уже с золотой медалью. После школы я долго метался в выборе между ГрГУ и ГрГМУ, ведь какое-то время хотел стать медиком, но выбрал теперь уже свой, родной Купаловский университет. Сейчас мне сложно представить обучение где-либо ещё, ведь здесь, всего за полтора года, я уже получил незабываемое количество эмоций и воспоминаний. Мне остаётся только думать о том, сколько же ещё событий преподнесёт мне мой Альма-матер.
                </p>
            </td>
            <td><img class="block_pic" src="..\resources\gfx\photo_1.png"></td>
        </tr>
    </table>
</div>
<div>
    <table class="block_left">
        <tr>
            <td><img class="block_pic" src="..\resources\gfx\photo_3.png"></td>
            <td>
                <h2>Соцсети</h2>
                    <table>
                        <td>
                            <tr><a href="https://vk.com/b.espontoviy_pirojok" target="_blank"><img class="block_icon" src="..\resources\gfx\vk_icon.png"></a></tr>
                            <tr><a href="https://web.telegram.org/#@CannedCatnip" target="_blank"><img class="block_icon" src="..\resources\gfx\tg_icon.png"></a></tr>
                            <tr><a href="https://github.com/LuxRubrum" target="_blank"><img class="block_icon" src="..\resources\gfx\git_icon.png"></a></tr>
                            <tr><a href="https://ru.pinterest.com/CannedCatnip/" target="_blank"><img class="block_icon" src="..\resources\gfx\pint_icon.png"></a></tr>
                            <tr><a href="https://www.tumblr.com/cannedcatnip" target="_blank"><img class="block_icon" src="..\resources\gfx\tmblr_icon.png"></a></tr>
                        </td>
                    </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>