<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хобби - Лабораторная работа 1 - Персональный сайт</title>
    <link rel="stylesheet" href="..\base\style.css">
</head>
<body>
<div>
<a id="top"></a>
</div>
<div>
    <table class="nav">
        <tr>
            <td><a href="index.html">На главную</a></td>
            <td><a href="about.html">О себе</a></td>
            <td><a href="hobbies.html">Хобби</a></td>
            <td><a href="achievements.html">Достижения</a></td>
        </tr>
    </table>
</div>
<div>
    <table class="block_left">
        <tr>
            <td><img class="block_pic" src="..\resources\gfx\hobbies_1.png"></td>
            <td>
                <h2>Увлечения</h2>
                <p>
                    Иногда кажется, что проще сказать то, чем тебе не нравится заниматься, чем распинаться про всю подноготную. Я - один из таких случаев. Новые увлечения могут приходить в голову каждую пятницу и вызывать детский восторг, и всё бы ничего, если бы эти увлечения не накапливались бы как снежный ком, и по итогу тебя бы не хватало ни на одно из них, что приводило бы к выгоранию и перезагрузке метода досуга. Впрочем, какие-то основные тенденции всегда со мной - эдакие части личности. О всём по порядку.
                </p>
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="fast_navi">
        <tr>
            <td>
                <h3 class="h_navi">Быстрая навигация</h3>
                <ol class="ul_navi">
                    <li><a href="#books">Книги и чтение</a></li>
                    <li><a href="#tinker">Прикладное дело и концепт-арт</a></li>
                    <li><a href="#guitar">Игра на гитаре</a> </li>
                </ol>
            </td>
        </tr>
    </table>
</div>
<div>
    <a id="books"></a>
    <table class="block_left">
        <tr>
            <td><img class="block_pic" src="..\resources\gfx\hobbies_2.png"></td>
            <td>
                <h2>Книги и чтение</h2>
                <h4><a href="#top">Назад</a></h4>
                <p>
                    Ни для кого не секрет, что книги являются, возможно, самым популярным методом проведения досуга за всю историю человечества. В книгах лежат фантазии авторов, изложение их внутреннего мира и души, вводя читателя в восторг и заинтересованность. Книги несут вечные знания, собранные великим учёными и продолжающие обучать будущие поколения. Кратко говоря, книга - одно из величайших изобретений человека, и естественно, что многие люди и до сих пор почитают то, как самые сокровенные мысли помещаются в небольшом кирпичике из типографской бумаги.
                </p>
                <p>
                    Я прочитал немало книг за свою жизнь и точно не вспомню их все, но могу попробовать перечислить то, что наиболее сильно отпечаталось на моей личности. Вот некоторые из моих наиболее любимых книг:
                </p>
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="block_center">
        <tr>
            <td>
                <table class="block_content">
                    <tr>
                        <th class="content">Название книги</th>
                        <th class="content">Автор</th>
                        <th class="content">Комментарий</th>
                    </tr>
                    <tr>
                        <td class="content">Серия книг "Ведьмак"</td>
                        <td class="content">Анджей Сапковский</td>
                        <td class="content"> В то время как первые книги цикла представляют собой сборники рассказов о приключениях Геральта, нередко сатирически обыгрывая фольклор и классические литературные сказки, сюжет последующих книг представляет собой более масштабную историю, построенную вокруг Геральта и его воспитанницы Цириллы, обладающей сверхъестественными способностями. За приключениями Ведьмака как минимум просто интересно наблюдать, и читаю я эту линейку в основном для развлечения, но в некоторых сюжетных тропах заложен достаточно глубокий философский смысл, взять хотя бы классическое "не существует меньшего или большего зла".</td>
                    </tr>
                    <tr>
                        <td class="content">"Отцы и дети"</td>
                        <td class="content">Иван Тургенев</td>
                        <td class="content">Тургенев в своём романе смог крайне подробно и красиво описать извечную проблему, появлявшуюся раньше и появляющуюся сейчас - столкновение нового и старого поколений. На смену представителям дворянского строя идут молодые и беспокойные, ищущие и борющиеся. Старый строй уже изжил себя, но новый еще не сформировался, и смысл романа "Отцы и дети" ясно указывает на неспособность общества жить по-старому, но и неготовность к жизни по-новому. Это время, своего рода, переходное, граница эпох. Задача человечества - суметь свести мораль традиции и новаторство инновации в одну жизнеспособную систему и продолжать развитие. Именно поэтому эта книга меня привлекает: она будет актуальна всегда.</td>
                    </tr>
                    <tr>
                        <td class="content">Серия книг "Метро"</td>
                        <td class="content">Дмитрий Глуховский, а также коллективные писатели из СНГ, Украины, Великобритании, Италии, Польши и Франции</td>
                        <td class="content">Книга повествует о людях, оставшихся в живых после ядерной войны. В романе война упоминается лишь вскользь. В результате обмена ядерными ударами все крупные города были стёрты с лица земли. Почти всё действие разворачивается в Московском метрополитене, где на станциях и в переходах живут люди. Вроде бы типичный потребительский постапокалипсис, но вся линейка написана очень неплохо - особенно оригинальные книги самого Глуховского. Интересно наблюдать за мышлением человека в кризисной ситуации, разделение на фракции с разными моральными кодексами, и в принципе на то, какие идеи могут представить авторы в мире ядерной зимы.</td>
                    </tr>
                    <tr>
                        <td class="content">"Время жить и время умирать"</td>
                        <td class="content">Эрих Мария Ремарк</td>
                        <td class="content">Молодой немец едет с фронта в отпуск. В родном городе он встречает свою любовь и женится. Теперь он знает, как ужасна любая война, и желает максимально использовать дома своё время жить. Книга Ремарка весьма реалистична - и это неудивительно, ведь сам Ремарк побывал на Первой Мировой войне и пристально наблюдал за Второй. Кроме того, что книга сама по себе написана красиво и выразительно, её сюжет сподвигает на размышления "ради чего ты это делаешь?" и "есть ли смысл в твоих действиях?".</td>
                    </tr>
                    <tr>
                        <td class="content">"Как закалялась сталь"</td>
                        <td class="content">Николай Островский</td>
                        <td class="content">Островский стремился показать, как происходила закалка первых комсомольцев в условиях гражданской войны и послевоенного строительства советского государства. Книга во многом автобиографична, поэтому иногда даже поражает откровенностью и реализмом. Крайне интересно наблюдать за действиями главного героя - Павки Корчагина - его преображением, становлением из мальчика в юношу, его решениями. Эта книга показывает, как молодёжь того времени приспосабливалась к трудностям и несла надежду на построение светлого будущего даже в самые тяжёлые времена. Для меня, каждый раз, когда я её читаю, она придаёт воодушевление и стремление к развитию и самосовершенствованию.</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div>
    <a id="tinker"></a>
    <table class="block_right">
        <tr>
            <td>
                <h2>Прикладное дело и концепт-арт</h2>
                <h4><a href="#top">Назад</a></h4>
                <p>
                    В ежедневном потоке рутины и учёбы так или иначе в голову приходят совершенно разнообразные идеи и концепты, которые хочется воплотить в жизнь. Многие про них просто забывают, я же - записываю и сохраняю до лучшего времени, а иногда даже и пытаюсь что-то осуществить. Наручные органайзеры, экзосапоги с наколенниками, очки с линзами Френеля, капсулы сна и переносной стол - много мыслей, много концептов, много идей. Большинство обречены на провал, но это не повод их оставлять - изучение материалов, связанных с созданием этих идей часто только расширяет кругозор и знания в профессиональных сферах.
                </p>
            </td>
            <td><img class="block_pic" src="..\resources\gfx\hobbies_3.png"></td>
        </tr>
    </table>
</div>
<div>
    <a id="guitar"></a>
    <table class="block_left">
        <tr>
            <td><img class="block_pic" src="..\resources\gfx\hobbies_2.png"></td>
            <td>
                <h2>Игра на гитаре</h2>
                <h4><a href="#top">Назад</a></h4>
                <p>
                    Наверняка каждый хоть когда-то задумывался о том, чтобы научиться играть на музыкальном инструменте. Для меня этим инструментом стала акустическая гитара. Её мне подарили не так давно - всего три года назад - но до сих пор я пытаюсь выжать из неё максимум возможного, пускай и получается это с трудом. В будущем я хочу также научиться играть на электрогитаре, бас-гитаре и барабанной установке. Чем больше - тем лучше.
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>