<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хобби - Лабораторная работа 1 - Персональный сайт</title>
    <link rel="stylesheet" href="..\base\style.css">
</head>
<body>
<div>
    <table class="nav">
        <tr>
            <td><a href="index.html">На главную</a></td>
            <td><a href="about.html">О себе</a></td>
            <td><a href="hobbies.html">Хобби</a></td>
            <td><a href="achievements.html">Достижения</a></td>
        </tr>
    </table>
</div>
<div>
    <table class="block_left">
        <tr>
            <td><img class="block_pic" src="..\resources\gfx\hobbies_1.png"></td>
            <td>
                <h2>Увлечения</h2>
                <p>
                    Иногда кажется, что проще сказать то, чем тебе не нравится заниматься, чем распинаться про всю подноготную. Я - один из таких случаев. Новые увлечения могут приходить в голову каждую пятницу и вызывать детский восторг, и всё бы ничего, если бы эти увлечения не накапливались бы как снежный ком, и по итогу тебя бы не хватало ни на одно из них, что приводило бы к выгоранию и перезагрузке метода досуга. Впрочем, какие-то основные тенденции всегда со мной - эдакие части личности. О всём по порядку.
                </p>
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="fast_navi">
        <tr>
            <td>
                <h3 class="h_navi">Быстрая навигация</h3>
                <ol class="ul_navi">
                    <li>Книги и чтение</li>
                    <li>Прикладное дело и концепт-арт</li>
                    <li>Написание программ</li>
                    <li>Игра на гитаре</li>
                    <li>Фото- и видеоредактура</li>
                </ol>
            </td>
        </tr>
    </table>
</div>
</body>
</html>