<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная - Лабораторная работа 1 - Персональный сайт</title>
    <link rel="stylesheet" href="..\base\style.css">
</head>
<body>
<div>
    <table class="nav">
        <tr>
            <td><a href="index.html">На главную</a></td>
            <td><a href="about.html">О себе</a></td>
            <td><a href="hobbies.html">Хобби</a></td>
            <td><a href="achievements.html">Достижения</a></td>
        </tr>
    </table>
</div>
<div>
    <table class="block_left">
        <tr>
            <td><img class="block_pic" src="..\resources\gfx\web_logo.png"></td>
            <td>
                <h2>Главная страница</h2>
                <p>
                    Это - главная страница первой лабораторной работы по Web-программированию. Основной задачей данной работы было спроектировать персональный сайт с элементами списков, ссылок, таблиц и изображений. Также все таблицы стилей вынесены в отдельный CSS-файл.
                </p>
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="block_right">
        <tr>
            <td>
                <h2>Структура сайта</h2>
                <p>
                    На этом сайте Вы найдёте всего четыре страницы: Главную - на которой Вы сейчас находитесь, О себе, Хобби и Достижения. На каждой из этих страниц есть небольшое количество информации, которое расскажет обо мне, как о личности. Я попытался организовать информацию так, чтобы наиболее ясно проявить возможности кода HTML и CSS без каких-либо плагинов или расширений.
                </p>
            </td>
            <td><img class="block_pic" src="..\resources\gfx\css_logo.png"></td>
        </tr>
    </table>
</div>
<div>
    <table class="block_left">
        <tr>
            <td><img class="block_pic" src="..\resources\gfx\html_logo.png"></td>
            <td>
                <h2>Только HTML</h2>
                <p>
                     Всё, что Вы видите на этом сайте, было оформлено исключительно с помощью возможностей сырого HTML и CSS. С целью полностью выполнить практическое задание, на разных страницах размещены почти все базовые элементы вёрстки: на каждой странице есть таблицы, картинки и ссылки, кое-где встречаются упорядоченные и неупорядоченные списки, а все стили находятся в отдельном файле.
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>